<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Update Status</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class="greet">
        <p>Xin chào {{customer_name}}</p>
      </div>
      <div class="notification">
        <p>ĐƠN HÀNG CỦA BẠN VỪA CHUYỂN SANG TRẠNG THÁI {{order_status}}</p>
      </div>
    </header>
    <div class="content-wrapper">
      <p>THÔNG TIN KHÁCH HÀNG</p>
      <ul>
        <li>Họ tên: {{customer_name}}</li>
        <li>Email: {{customer_email}}</li>
        <li>Số điện thoại: {{customer_phone}}</li>
        <li>Địa chỉ giao hàng: {{customer_address}}</li>
      </ul>
      <div class="order-info">
        <p>THÔNG TIN ĐƠN HÀNG</p>
        <!-- each order in orders -->
        <table>
          <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Tổng</th>
          </tr>
          {{order_cart}}
        </table>
        <div class="total-price">
          <p>Tổng cộng: {{order_subtotal}} VND</p>
          <p >Shipping: {{order_shipping}} VND</p>
          <p >Giảm giá đơn hàng: {{order_order_discount}} VND</p>
          <p >Giảm giá coupon: {{order_coupon_discount}} VND</p>
          <p >Giảm giá chương trình khuyến mãi: {{order_sale_discount}} VND</p>
          <p style="color:red">Thành tiền: {{order_total}} VND</p>
        </div>
      </div>
    </div>
    <footer>
      <p>CẢM ƠN BẠN ĐÃ ĐẶT HÀNG TẠI {{website}}</p>
    </footer>
  </body>
</html>
