{% extends "layout.twig" %}

{% block pre_include %}
    <title>Trang không tồn tại</title>
{% endblock pre_include %}

{% block content %}
    <div id="main">
        <!-- Thank Content -->
        <div class="container" >
            <div class="thanks-container">
                <div class="error-box-img">
                    <img src="{{settings.home_404|upload_url}}" alt="thanks">
                </div>
                <a class="btn" href="/">Quay lại trang chủ</a>
            </div>
        </div>
        <!-- ./Thank Content -->

    </div>
{% endblock content %}