{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{ article.title }}</title>

{% endblock pre_include %}

{% block content %}
{% set blog = Blog (article.blogs[0].handle) %}
    <div id="main">
        <!-- Section banner -->
        <div class="section section-bg-2 section-fixed pt-6 pb-3"
        style="background-image: url({{CustomField (article.id,'article','banner')|upload_url}});">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h2 class="page-title">{{article.title}}</h2>
                        <div class="breadcrumb mt-1 pl-0">
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="{{blog.url}}">{{blog.title}}</a>
                                </li>
                                <li>{{article.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->

        <!-- Post Content -->
        <div class="section pt-11 pb-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="single-post">
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="{{article.url}}">{{article.title}}</a>
                                </h2>
                                <ul class="entry-meta extra-font italic">
                                    <li>
                                        <a href="#">{{article.created_at|date('d m Y')}}</a>
                                    </li>
                                    <li>by
                                        <a href="#">{{CustomField (article.id, "article", "nguoi-viet")}}</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="entry-content">{{article.content|raw}}</div>

                            <div class="entry-related">
                                <h5 class="wg-title">{{settings.bvlq_title}}</h5>
                                <div class="relate-blog relate-blog-carousel">
                                {% for item in blog.articles|slice(length - 4,4 ) %}

                                    <div class="blog-item bg-white">
                                        <div class="entry-media">
                                            <a href="{{item.url}}">
                                                <img src="{{item.image|upload_url}}" alt="{{item.title}}">
                                            </a>

                                        </div>
                                        <div class="entry-content pl-0 pr-0">
                                            <div class="entry-header">
                                                <h5 class="entry-title fw-normal">
                                                    <a href="{{item.url}}">{{item.title}}</a>
                                                </h5>
                                                <ul class="entry-meta">
                                                    <li>
                                                        <a href="{{item.url}}">{{item.created_at|date('d m Y')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-lg-3">
                      {% include 'snippet/sidebar-article.twig' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- ./Post Content -->

    </div>
{% endblock content %}
