{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{ blog.title }}</title>

{% endblock pre_include %}
{% block post_include %}{% endblock post_include %}

{% block content %}
    {% if CustomField(blog.id, "blog", "banner") %}
        {% set banner = CustomField(blog.id, "blog", "banner") %}
    {% else %}
        {% set banner = settings.home_banner %}
    {% endif %}
{% set  menu = Menu('header')%}
{% set value = "" %}
{% for item in menu.children if item.link_type == "blog" %}

    {% if item.link_type =="blog" and item.link == blog.url  %}
    {% set value = item.title %}
    {% endif %}
    {% for sub in item.children %}
        {% if sub.link_type =="blog" and sub.link == blog.url  %}
    {% set value = sub.title %}
    {% endif %}
    {% endfor %}

{% endfor %}
    <div id="main">
        <!-- Section banner -->
        <div class="section section-bg-2 section-fixed pt-6 pb-3" style="background-image: url({{banner|upload_url}});">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h2 class="page-title">{{value}}</h2>
                        <div class="breadcrumb mt-1 pl-0">
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>

                                <li>
                                    <a href="#">{{value}}</a>
                                </li>

                                <li>{{blog.title}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="text-right">
                            <div class="page-title-subtext extra-font">
                                {{CustomField (blog.id, "blog", "tieu-de-banner")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->

        <!-- Blog Content -->
        <div class="section pt-11 pb-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="blog-list">
                            {% set blogHelper = Blog(blog.handle) %}
                            {% for article in blogHelper.articles %}
                                <div class="entry-blog list {{loop.index>5?'hidden':''}}">
                                    <div class="blog-item bg-white">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="entry-media">
                                                <a href="{{article.url}}">
                                                    <img src="{{article.image|upload_url}}" alt="{{article.title}}"/>
                                                </a>
                                                <span class="entry-categories">
                                                    <a href="{{blog.url}}">{{blog.title}}</a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <div class="entry-content pl-0 pr-0">
                                                <div class="entry-header">
                                                    <h3 class="entry-title">
                                                        <a href="{{article.url}}">{{article.title}}</a>
                                                    </h3>
                                                    <ul class="entry-meta">
                                                        <li>
                                                            <a href="{{article.url}}">{{article.created_at|date('d m Y')}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="content">
                                                    {{article.description|truncate(230)}}
                                                </div>
                                                <div class="entry-footer">
                                                    <a class="readmore" href="{{article.url}}">Đọc thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if blogHelper.articles | length > 5 %}
                            <div class="text-center">
                                <a class="btn btn-alt btn-border" href="#" id="loadMore">Xem thêm</a>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-3 col-lg-3">
                      {% include 'snippet/sidebar-article.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Blog Content -->

    </div>
{% endblock content %}
