{% extends "layout.twig" %}
{% block pre_include %}
  <title>Cart</title>
{% endblock pre_include %}
{% block post_include %}
  <style>

    .product-price span {
      display: block;
      line-height: 22px;
      margin-bottom: 5px;
      font-weight: 400;
    }
    .product-price .amount {
      color: #1f1f1f;
    }
    .product-price .price-compare {
      text-decoration: line-through;
    }
    .product-price .discount-percent i {
      color: #ff0000;
    }
  </style>
  <script type="text/javascript">
    $(document).on('click',"#back_button", function(){
      window.history.back();
    });

    var global_money = {{cart.total?(cart.total + settings['shipping_fee']):0}};

    if (global_money) {
      checkCoupon(1);
    }
    $('.apply_coupon').click(function(e) {
      e.preventDefault();
      checkCoupon();
    });

    $('.update-cart').click(function(e) {
      $('.shop-cart').find('.cart_item').each(function(i, e) {
        var variant_id = $(e).attr('data-variant');
        var quantity = $(e).find('.qty').val();
        StoreAPI.changeItem(variant_id, quantity, function() {
          location.reload();
        });
      });
    });
    function checkCoupon(load = 0){
      if (load) {
        var couponObj = JSON.parse(localStorage.getItem('coupon'));
        if (couponObj) {
          var data = {
            coupon: couponObj.coupon.code,
            subtotal: {{cart.total}}
          }
        }
      } else{
        var data = {
          coupon: $("input[name='coupon_code']").val(),
          subtotal: {{cart.total}}
        };
      }

      StoreAPI.checkCoupon(data, function(result) {
        if (!result.code) {
          if (!load) {
            toastr.success("Coupon hợp lệ");
          } else{
            $('#coupon_code').val(data.coupon);
          }
          $('.cart-coupon td').text(money(result.discount) + ' VNĐ');
          $('.price-total').text(money(global_money - result.discount) + ' VNĐ');
          localStorage.setItem("coupon", JSON.stringify(result));
        } else {
          if (!load) {
            toastr.error("Mã giảm giá không được để trống");
          }
        }
      })
    }
  </script>

{% endblock post_include %}
{% block content %}
  <div id="main">
    <!-- Section banner -->
    <div class="section section-bg-2 section-fixed pt-6 pb-3" style="background-image: url({{settings.home_banner|upload_url}});">
      <div class="bg-overlay-dark"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h2 class="page-title">Giỏ hàng</h2>
            <div class="breadcrumb mt-1 pl-0">
              <ul class="breadcrumbs">
                <li>
                  <a href="/">Trang chủ</a>
                </li>
                <li>Giỏ hàng</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Section banner -->

    {% if cart.items %}
      <!-- Cart Content -->
      <div class="section pt-10 pb-10">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <table class="table shop-cart">
                <thead>
                  <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name">Sản phẩm</th>
                    <th class="product-price">Giá</th>
                    <th class="product-quantity">Số lượng</th>
                    <th class="product-subtotal">Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr class="cart_item product_list_widget mini_cart_item" data-variant={{item.variant_id}}>
                      <td class="product-remove">
                        <a href="#" class="remove" name="remove-item" data-id={{item.variant_id}}>&times;</a>
                      </td>
                      <td class="product-thumbnail">
                        <a href="{{item.url}}">
                          <img src="{{item.image|upload_url}}" alt="{{item.product_title}}">
                        </a>
                      </td>
                      <td class="product-name" data-title="Product">
                        <a href="{{item.url}}">{{item.product_title}}
                        </a>
                      </td>
                      <td class="product-price" data-title="Price">
                        <span class="amount">{{item.price|money}}
                          VNĐ</span>
                        {% if item.price_compare %}
                        <span class="price-compare"> {{item.price_compare|money}} VNĐ</span>
                        <span class="discount-percent">
                          <i class="fa fa-arrow-down" aria-hidden="true"></i>
                          Giảm {{((item.price_compare - item.price) / item.price_compare * 100) | round}}%
                        </span>
                        {% endif %}
                      </td>
                      <td class="product-quantity" data-title="Quantity">
                        <div class="quantity">

                          <input id="qty-1" type="number" min="1" name="number" value="{{item.quantity}}" class="input-text qty text" size="4">
                        </div>
                      </td>
                      {% set subTotal = item.quantity * item.price %}
                      <td class="product-subtotal" data-title="SubTotal">
                        <span class="amount">{{subTotal|money}}
                          VNĐ</span>
                      </td>
                    </tr>

                  {% endfor %}
                  <tr>
                    <td colspan="6" class="actions">
                      <div class="coupon">
                        <input type="text" name="coupon_code" class="input-text" id="coupon_code" placeholder="Nhập mã giảm giá"/>
                        <input type="submit" class="btn btn-alt btn-border apply_coupon" name="apply_coupon" value="Kiểm tra mã"/>
                      </div>
                      <input type="submit" class="btn btn-alt btn-border update-cart" name="update_cart" value="Cập nhật giỏ hàng">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="cart-totals">
                <h2 class="wg-title">Thông tin đơn hàng</h2>
                <table>
                  <tbody>
                    <tr class="cart-subtotal">
                      <th>Tạm tính</th>
                      <td class="subtotal_coupon">{{cart.total|money}}
                        VNĐ</td>
                    </tr>
                    <tr class="cart-coupon">
                        <th>Mã giảm giá</th>
                        <td>0 VNĐ</td>
                    </tr>
                    <tr class="shipping">
                      <th>Phí giao hàng</th>
                      <td>{{settings['shipping_fee']==0?'Shipping free':settings['shipping_fee']|money ~ ' VNĐ'}}</td>
                    </tr>
                    <tr class="order-total">
                      <th>Tổng cộng</th>
                      <td>
                        <strong class="price-total">{{(cart.total + settings['shipping_fee'])|money}}
                          VNĐ</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="proceed-to-checkout">
                  <a id="back_button" class="btn btn-alt btn-border">Quay lại</a>
                  <a href="/checkout" class="btn btn-alt btn-border mr-auto" style="float: right;">Tiến hành thanh toán</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ./Cart Content -->
    {% else %}

      <div class="section pt-10 pb-10">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="woocommerce">
                <p class="cart-empty">Không có sản phẩm nào trong giỏ hàng.</p>
                <p class="return-to-shop">
                  <a class="button wc-backward" href="/">
                    Trở về trang chủ
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock content %}
