{% extends "layout.twig" %}
{% block pre_include %}
  <title>Checkout</title>
{% endblock pre_include %}
{% block post_include %}
  <script type="text/javascript">
    var global_money = {{cart.total + settings['shipping_fee']}};

    var couponObj = JSON.parse(localStorage.getItem('coupon'));
    if (couponObj) {
      var data = {
        coupon: couponObj.coupon.code,
        subtotal: {{cart.total}}
      }
    }

    StoreAPI.checkCoupon(data, function(result) {
      if (!result.code) {
        $('.coupon-discount').text(money(result.discount) + ' VNĐ');
        $('.show-total').text(money(global_money - result.discount) + ' VNĐ');
      }
    })
  </script>
{% endblock post_include %}
{% block content %}
  <div id="main">
    <!-- Section banner -->
    <div class="section section-bg-2 section-fixed pt-6 pb-3">
      <div class="bg-overlay-dark"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h2 class="page-title">Thanh toán</h2>
            <div class="breadcrumb mt-1 pl-0">
              <ul class="breadcrumbs">
                <li>
                  <a href="/">Trang chủ</a>
                </li>
                <li>Thanh toán</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Section banner -->

    <!-- Cart Content -->
    <div class="section pt-10 pb-10">
      <div class="container">

        <h2 class="text-uppercase mb-2 dark header-bottom-line">Thông tin giao hàng</h2>
        <div class="row">
          <div class="col-md-6 pb-4">
            <div class="checkout">
              <div class="form-checkout">
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <input type="text" class="highlighted" id="first_name" name="first_name" placeholder="Họ tên đệm*"/>
                  </div>
                  <div class="col-md-6 mb-2">
                    <input type="text" class="highlighted" id="last_name" name="last_name" placeholder="Tên*"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <input type="text" class="highlighted" id="company-name" name="company_name" placeholder="Công ty"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <input type="text" class="highlighted" id="address" name="address" placeholder="Địa chỉ giao hàng*"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <input type="text" class="highlighted" id="email" name="email" placeholder="Email*"/>
                  </div>
                  <div class="col-md-6 mb-2">
                    <input type="text" class="highlighted" id="phone" name="phone" placeholder="Số điện thoại*"/>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 pb-4">
            <div class="payment">
              <div class="">
                <textarea name="order-notes" class="highlighted" id="order-notes" rows="9" placeholder="Ghi chú"></textarea>
              </div>
              <input type="number" class="hidden" name="shipping_price" value="{{settings['shipping_fee']}}"/>
            </div>
          </div>
        </div>

        <div class="row pb-4">
          <div class="col-xs-12">
            <h2 class="text-uppercase mb-2 dark header-bottom-line">Đơn hàng</h2>

            <div id="order_review" class="woocommerce-checkout-review-order">
              <table class="shop_table woocommerce-checkout-review-order-table">
                <thead>
                  <tr>
                    <th class="product-name">Sản phẩm</th>
                    <th class="product-total">Tổng cộng</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr class="cart_item">
                      <td class="product-name">
                        {{item.product_title}}&nbsp;
                        <strong class="product-quantity">&times; {{item.quantity}}</strong>
                      </td>
                      <td class="product-total">
                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>{{(item.price*item.quantity)|money}} VNĐ</span>
                      </td>
                    </tr>
                  {% endfor %}
                  <tr class="cart_item">
                    <td class="product-name">
                      Mã giãm giá
                      <strong class="product-quantity"></strong>
                    </td>
                    <td class="coupon-discount">
                      0 VNĐ
                    </td>
                  </tr>
                  <tr class="cart_item">
                    <td class="product-name">
                      Phí giao hàng
                      <strong class="product-quantity"></strong>
                    </td>
                    <td class="product-total">
                      <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol"></span>{{settings['shipping_fee']==0?'Shipping free':settings['shipping_fee']|money ~ ' VNĐ'}}</span>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="order-total">
                    <th>Tổng</th>
                    <td>
                      <strong><span class="woocommerce-Price-amount amount show-total">{{(cart.total + settings['shipping_fee'])|money}} VNĐ</span></strong>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h2 class="text-uppercase mb-2 dark header-bottom-line">Hình thức thanh toán</h2>
            <ul class="payment_methods pb-3">
              <li class="has-child ">
                <label for="payment_method_bacs" class="i-checked">
                  <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="BANK" checked="checked"/>
                  Chuyển khoản</label>
                <div class="payment_box payment_method_bacs">
                  {{settings['bank_info']|raw}}
                </div>
              </li>
              <li>
                <label for="payment_method_cheque">
                  <input id="payment_method_cheque" type="radio" class="input-radio" name="payment_method" value="COD"/>
                  Thanh toán khi nhận hàng
                </label>
              </li>

            </ul>
            <div class="box-btn-order">
              <a href="#" class="btn btn-color btn-checkout">Thanh toán</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- ./Cart Content -->

  </div>
{% endblock content %}
