{% set collections = Collection() %}
{% set paginate = data.paginate %}

{% if data.data|length %}
  <div class="row">
    <div class="col-md-5 box-sort">
      <form class="_form-sort">
        <select name="orderby" class="orderby order-product" data-value={{data.sortby}}>
          <option value="manual">Sắp xếp mặc định</option>
          <!-- <option value="">Sort by popularity</option> -->
          <!-- <option value="">Sort by average rating</option> -->
          <option value="created_at-desc">Sắp xếp theo mới nhất</option>
          <option value="price-asc">Giá: Thấp đến cao</option>
          <option value="price-desc">Giá: Cao đến thấp</option>
        </select>
      </form>
    </div>
    <div class="col-md-7 box-search">
      <div class="row">
        <div class="col-md-4 left">
          <form class="">
            <select id="sl-collection" class="orderby" >
              <option value="" >Tất cả danh mục</option>
              {% for item in collections %}
                <option value="{{item.id}}">{{item.title}}</option>
              {% endfor %}
            </select>
          </form>
        </div>
        <div class="col-md-8 right">
          <form class="searchform" action="">
            <input type="text" class="s" name="query" value="" placeholder="Tìm kiếm..."/>
            <button type="submit" value="Tìm kiếm" class="searchsubmit">
              <i class="pe-7s-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
  {% set fromProduct = (paginate.current_page - 1)*paginate.per_page + 1 %}
  {% set toProduct = (paginate.current_page - 1)*paginate.per_page + paginate.per_page %}
  <p class="commerce-result-count">Hiển thị {% if paginate.items_count %}
    {{fromProduct}}–{{paginate.current_page==paginate.total_pages?paginate.items_count:toProduct}} trên {{paginate.items_count}}
  {% else %} 0-0 {% endif %} kết quả</p>

  <div class="product-grid row">
    {% for item in data.data %}
      <div class="product-item mb-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
        {% if item.price_compare > item.price %}
          <span class="onsale">{{((1 - item.price/item.price_compare)*100)|round}}% OFF</span>
        {% endif %}
        <div class="overlay-wrap">
          <div class="entry-media">
            <div class="entry-thumbnail">
              <a href="{{item.url}}">
                <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
              </a>
            </div>
            <div class="overlay zoom-in">
              <div class="overlay-inner text-center">
                <a href="#" class="button add-to-cart btn-add-to-cart" data-id={{item.variants[0].id}}>Thêm vào giỏ hàng</a>
                <a href="{{item.url}}" class="product-readmore"></a>
              </div>
            </div>
          </div>
          <div class="entry-header text-center">
            <h3 class="entry-title">
              <a href="{{item.url}}">{{item.title}}</a>
            </h3>
          </div>
          <div class="price text-center">
            {% if item.price_compare > item.price %}
              <span>{{item.price|money}} ₫</span>
              <del>{{item.price_compare|money}} ₫</del>
            {% else %}
              {{item.price|money}} ₫
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <nav class="paging-navigation text-center">
    <div id="pagination" class="style-2" data-page_number={{paginate.current_page}}, data-total="{{paginate.total_pages}}" class="post-pagination text-center"></div>
  </nav>
{% else %}
  <div class="row">
    <div class="col-md-5 box-sort">
      <form class="_form-sort">
        <select name="orderby" class="orderby order-product" data-value={{data.sortby}}>
          <option value="manual">Sắp xếp mặc định</option>
          <!-- <option value="">Sort by popularity</option> -->
          <!-- <option value="">Sort by average rating</option> -->
          <option value="created_at-desc">Sắp xếp theo mới nhất</option>
          <option value="price-asc">Giá: Thấp đến cao</option>
          <option value="price-desc">Giá: Cao đến thấp</option>
        </select>
      </form>
    </div>
    <div class="col-md-7 box-search">
      <div class="row">
        <div class="col-md-4 left">
          <form id="sort-form" class="">
            <select name="sl-collection" class="orderby" data-value={{data.collection_id}}>
              {% if data.collection_id %}
              <option value="all" >Tất cả danh mục</option>
              {% else %}
              <option value="all" selected >Tất cả danh mục</option>
              {% endif %}
              {% for item in collections %}
                {% if item.id == data.collection_id %}
                <option value="{{item.id}}" selected>{{item.title}}</option>
                {% else %}
                <option value="{{item.id}}">{{item.title}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </form>
        </div>
        <div class="col-md-8 right">
          <form class="searchform" action="">
            <input type="text" class="s" name="query" value="" placeholder="Tìm kiếm..."/>
            <button type="submit" value="Tìm kiếm" class="searchsubmit">
              <i class="pe-7s-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="box-search-null">
    <h1 class="entry-title pb-3">Không có kết quả tìm kiếm cho "<span class="key_search">ABCD</span>"</h1>
    <section class="how-to-search">
      <!-- Editer -->
      {{settings['search_no_result']|raw}}
      <!-- ./Editer -->
    </section>
    <div class="p-t20">
      <a onclick="location.reload();" class="btn btn-alt btn-border">Quay lại</a>
    </div>
  </div>
{% endif %}
