{% extends "layout.twig" %}

{% block pre_include %}
  <title>{{collection.title}}</title>
{% endblock pre_include %}

{% block post_include %}
  <script type="text/javascript" src="{{theme.uri}}/js/core.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/widget.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/mouse.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/slider.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/jquery.ui.touch-punch.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/price-slider.js"></script>
{% endblock post_include %}

{% block content %}
  {% set collections = Collection() %}
  {% if collection.image %}
        {% set banner = collection.image %}
    {% else %}
        {% set banner = settings.home_banner %}
    {% endif %}
  <div id="main">
    <!-- Section banner -->
    <div class="section section-bg-2 section-fixed pt-6 pb-3"  style="background-image: url({{banner|upload_url}});">
      <div class="bg-overlay-dark"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h2 class="page-title">{{collection.title}}</h2>
            <div class="breadcrumb mt-1 pl-0">
              <ul class="breadcrumbs">
                <li>
                  <a href="/">Trang chủ</a>
                </li>
                <li>{{collection.title}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Section banner -->
    <input type="number" class="hidden" name="collection_id" value="{{collection.id}}">

    <!-- Product Content -->
    <div class="product-content section pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-lg-9 col-md-push-3 col-lg-push-3 product-list">
            <!-- Search, Sort -->
            <div class="row">
              <div class="col-md-5 box-sort">
                <input type="number" class="hidden" name="collection_id" value="{{collection.id}}">
                <form class="_form-sort">
                  <select name="orderby" class="orderby order-product" data-value={{sortby}}>
                    <option value="manual">Sắp xếp mặc định</option>
                    <!-- <option value="">Sort by popularity</option> -->
                    <!-- <option value="">Sort by average rating</option> -->
                    <option value="created_at-desc">Sắp xếp theo mới nhất</option>
                    <option value="price-asc">Giá: Thấp đến cao</option>
                    <option value="price-desc">Giá: Cao đến thấp</option>
                  </select>
                </form>
              </div>
              <div class="col-md-7 box-search">
                <div class="row">
                  <div class="col-md-5 left">
                    <form class="">
                      <select id="sl-collection" class="orderby">
                        <option value="">Tất cả danh mục</option>
                        {% for item in collections %}
                          <option value="{{item.id}}">{{item.title}}</option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
                  <div class="col-md-7 right">
                    <form class="searchform searchform-collection" action="">
                      <input type="text" class="s" name="query" value="" placeholder="Tìm kiếm..."/>
                      <button type="submit" value="Tìm kiếm" class="searchsubmit">
                        <i class="pe-7s-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            {% set fromProduct = (paginate.current_page - 1)*paginate.per_page + 1 %}
            {% set toProduct = (paginate.current_page - 1)*paginate.per_page + paginate.per_page %}
            {% if (paginate.current_page == paginate.total_pages) %}
            {% set toProduct = (paginate.current_page - 1)*paginate.per_page + paginate.items_count %}
            {% endif %}
            <p class="commerce-result-count">Hiển thị {% if paginate.items_count %}
              {{fromProduct}}–{{toProduct}} trên {{paginate.items_count}}
            {% else %} 0-0 {% endif %} kết quả</p>

            <div class="product-grid row">
              {% for item in collection.products %}
                <div class="product-item mb-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  {% if item.price_compare > item.price %}
                    <span class="onsale">{{((1 - item.price/item.price_compare)*100)|round}}% OFF</span>
                  {% endif %}
                  <div class="overlay-wrap">
                    <div class="entry-media">
                      <div class="entry-thumbnail">
                        <a href="{{item.url}}">
                          <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
                        </a>
                      </div>
                      <div class="overlay zoom-in">
                        <div class="overlay-inner text-center">
                          <a href="#" class="button add-to-cart btn-add-to-cart" data-id={{item.variants[0].id}}>Thêm vào giỏ hàng</a>
                          <a href="{{item.url}}" class="product-readmore"></a>
                        </div>
                      </div>
                    </div>
                    <div class="entry-header text-center">
                      <h3 class="entry-title">
                        <a href="{{item.url}}">{{item.title}}</a>
                      </h3>
                    </div>
                    <div class="price text-center">
                      {% if item.price_compare > item.price %}
                        <span>{{item.price|money('.')}} ₫</span>
                        <del>{{item.price_compare|money('.')}} ₫</del>
                      {% else %}
                        {{item.price|money('.')}} ₫
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

        
                <nav class="paging-navigation text-center">
                  <div id="pagination" class="pagination style-2" data-page_number="{{paginate.current_page}}" data-total="{{paginate.total_pages}}"></div>
                </nav>
          </div>
          {% include 'snippet/filter-sidebar.twig' %}
        </div>
      </div>
    </div>
    <!-- ./Product Content -->

    {% include 'snippet/company.twig' %}
  </div>
{% endblock content %}
