{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{settings.contact_title}}</title>
{% endblock pre_include %}

{% block content %}
    <div id="main">
        <!-- Section banner -->
        <div class="section section-bg-10 section-fixed pt-14 pb-3" style="background-image: url({{settings.contact_banner | upload_url}});">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <h2 class="page-title fadeInLeftBanner">{{settings.contact_greeting}}</h2>
                            <div class="page-title-subtext extra-font fadeInLeftBanner">{{settings.contact_description}}</div>
                            <div class="breadcrumb">
                                <ul class="breadcrumbs">
                                    <li>
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li>{{settings.contact_title}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->
        <div class="section pt-8 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-3">
                        <div class="dp-table contact-info">
                            <i class="pe-7s-phone dark fz-40 dp-table-cell icon middle"></i>
                            <span class="dark fz-20 dp-table-cell middle">{{settings.footer_phone}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-3">
                        <div class="dp-table contact-info">
                            <i class="pe-7s-mail dark fz-40 dp-table-cell icon middle"></i>
                            <span class="dark fz-20 dp-table-cell middle">{{settings.footer_email}}</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-md-4 mb-3">
                        <div class="dp-table contact-info">
                            <i class="pe-7s-map-marker dark fz-40 dp-table-cell icon middle"></i>
                            <span class="dark fz-20 dp-table-cell middle">{{settings.footer_address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section 1 -->

        {% include 'snippet/contact-us.twig' %}

    </div>

{% endblock %}
