{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{settings.home_name}}</title>
{% endblock pre_include %}

{% block post_include %}
    <script type="text/javascript">
        $('.click1').click(function () {
            var ide = $(this).attr('id');
            console.log(ide);
            $('.xem-them').attr('href', "/collection/" + ide);
        });
    </script>
{% endblock post_include %}

{% block content %}

    <div id="main">
        {% include 'snippet/index-slider.twig' %}
        {% include 'snippet/index-1.twig' %}
        {% include 'snippet/index-2.twig' %}
        {% include 'snippet/index-3.twig' %}
        {% include 'snippet/index-4.twig' %}
        {% include 'snippet/index-5.twig' %}
        {% include 'snippet/company.twig' %}
    </div>
{% endblock content %}