<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link rel="shortcut icon" href="{{settings.home_favicon|upload_url}}"/>
        {% block pre_include %}{% endblock pre_include %}

        {% set seo = Seo() %}
        <meta name="title" content="{{seo.meta_title}}">
        <meta name="description" content="{{seo.meta_description}}">
        <meta name="keywords" content="{{seo.meta_keyword}}">
        <meta name="robots" content="{{seo.meta_robots}}">
        <meta property="og:title" content="{{seo.meta_title}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{currentUrl()}}"/>
        <meta property="og:image" content="{{seo.meta_image}}"/>
        <meta property="og:description" content="{{seo.meta_description}}"/>

        <link rel="stylesheet" href="{{theme.uri}}/css/bootstrap.min.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{theme.uri}}/css/style.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{theme.uri}}/css/customer_checkout.css">
        <link rel="stylesheet" href="{{theme.uri}}/custom-css/custom.css">

        <noscript id="deferred-styles">
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=vietnamese" rel="stylesheet">
            <link rel="stylesheet" href="{{theme.uri}}/css/font-awesome.min.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{theme.uri}}/css/pe-icon-7-stroke.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{theme.uri}}/css/typicons.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{theme.uri}}/css/settings.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{theme.uri}}/css/owl.carousel.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{theme.uri}}/css/owl.theme.css" type="text/css" media="all"/>

            <link rel="stylesheet" href="{{theme.uri}}/css/custom.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{theme.uri}}/css/animate.css">
            <link rel="stylesheet" href="{{theme.uri}}/css/font.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="{{shop.static}}/libs/toastr.min.css">
        </noscript>

        <script>
            var loadDeferredStyles = function () {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf)
                raf(function () {
                    window.setTimeout(loadDeferredStyles, 0);
                });
            else
                window.addEventListener('load', loadDeferredStyles);
        </script>

        <style>
            .custom-page {
                min-width: 49px;
                height: 49px;
                line-height: 49px;
                white-space: nowrap;
                font-size: 18px;
                font-weight: 400;
                display: inline-block;
                text-align: center;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .custom-anchor {
                color: black !important;
            }

            .custom-active .custom-anchor {
                background-color: #00c4cc !important;
                color: #fff !important;
            }

            .pagination > li:first-child > a,
            .pagination > li:last-child > a {
                margin-left: 0;
                border-radius: 0;
            }

            .pagination > li > a {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 2;
                color: #337ab7;
                text-decoration: none;
                background-color: #f7f7f7;
                border: none;
            }

            .pagination > .disabled > a,
            .pagination > .disabled > a:focus,
            .pagination > .disabled > a:hover,
            .pagination > .disabled > span,
            .pagination > .disabled > span:focus,
            .pagination > .disabled > span:hover {
                color: #777;
                cursor: not-allowed;
                background-color: #f7f7f7;
            }
        </style>

    </head>

    <body>
        <div class="noo-spinner">
            <div class="spinner">
                <div class="child double-bounce1"></div>
                <div class="child double-bounce2"></div>
            </div>
        </div>
        <div class="site">

            {% include 'snippet/header.twig' %}

            {% block content %}{% endblock %}

            {% include 'snippet/footer.twig' %}
            {% include 'snippet/tmpl.twig' %}
        </div>

        <a id="backtotop" class="fa fa-angle-up circle" href="javascript:void(0)"></a>

        <script type="text/javascript" src="{{theme.uri}}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery.singlePageNav.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/modernizr-2.7.1.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/bootstrap-progressbar.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery.countTo.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery.isotope.init.js"></script>
        <script type='text/javascript' src='{{theme.uri}}/js/waypoints.min.js'></script>
        <script type="text/javascript" src="{{theme.uri}}/js/script.js"></script>
        <script src="{{shop.static}}/libs/StoreAPI.jquery.js" type="text/javascript"></script>
        <script src="{{shop.static}}/libs/toastr.min.js" type="text/javascript"></script>
        <script src="{{shop.static}}/libs/twbsPagination.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/jquery.themepunch.revolution.min.js"></script>
        <!-- extensions -->
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="{{shop.static}}/libs/tmpl.min.js"></script>
        <script type="text/javascript" src="{{theme.uri}}/js/custom.js"></script>

        <!-- Home Slider -->
        <script>
            $('.slider-section').owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 4000,
                margin: 0,
                responsiveClass: true,
                items: 3,
                dots: true,
                navText: [
                    "", ""
                ],
                rewindNav: true,
                nav: true,
                responsive: {
                    // breakpoint from 0 up
                    0: {
                        items: 1
                    },
                    480: {
                        items: 1
                    },
                    768: {
                        items: 3
                    },
                    1200: {
                        items: 3
                    }
                }
            })
        </script>
        <div id="fb-root"></div>
        {# Move to Script.js #}

        {% block post_include %}{% endblock %}

        <script type="text/javascript">

            $('.btn-white').click(function (e) {
                e.preventDefault();
                $('input').removeClass('error');
                var i = 0;
                var partern = '[0-9]+';
                var company = $("#company").val();
                var data = {
                    email: $("#email").val(),
                    name: $("#name").val(),
                    phone: $("#phone").val(),
                    content: $("#content").val()
                };

                if (!data.name) {
                    toastr.error("Vui lòng nhập họ tên!");
                    $("#name").addClass('error');
                    return;
                }
                if (!company) {
                    toastr.error("Vui lòng nhập company!");
                    $("#company").addClass('error');
                    return;
                }
                if (!data.email) {
                    toastr.error("Vui lòng nhập email!");
                    $("#email").addClass('error');
                    return;
                }

                if (!data.phone.match(/(09|03|05|07|08|01[2|3|6|8|9])+([0-9]{8})\b/g)) {
                    toastr.error("Vui lòng nhập số điện thoại!");
                    $("#phone").addClass('error');
                    return;
                }

                if (!data.content) {
                    toastr.error("Vui lòng nhập nội dung!");
                    $("#content").addClass('error');
                    return;
                }
                data.content = 'Công ty: ' + company + "<br>Nội dung: " + data.content;
                $.ajax({
                    url: "/api/contact",
                    type: "POST",
                    data: data,
                    success: function (result) {
                        if (!result.code) {
                            toastr.success("Thông tin đã được ghi nhận, chúng tôi liên hệ với bạn trong thời gian sớm nhất!");
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            toastr.error(result.message);
                        }
                    }
                });
            });
        </script>
        {{settings.google_analytics|raw}}
        {{settings.facebook_pixel|raw}}
        {{settings.chat_online|raw}}
        <img src="/pixel/visit" hidden="hidden">
    </body>
</html>
