{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{ page.title }}</title>
    
{% endblock pre_include %}
{% block post_include %}{% endblock post_include %}

{% block content %}
    <div id="main">
        <!-- Section banner -->
        <div class="section section-bg-2 section-fixed pt-6 pb-3" style="background-image: url({{page.image|upload_url}});">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h2 class="page-title">{{ page.title }}</h2>
                        <div class="breadcrumb mt-1 pl-0">
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li>{{page.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->

        <!-- Post Content -->
        <div class="section pt-11 pb-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="single-post">
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="{{page.url}}">{{ page.description }}</a>
                                </h2>

                            </div>

                            <div class="entry-content">
                                {{page.content|raw}}
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="sidebar sidebar-area">
                            <div class="widget">
                                <h5 class="wg-title">Tìm kiếm</h5>
                                <form class="searchform">
                                    <input type="text" name="q" placeholder="Tìm kiếm..."/>
                                    <button type="submit" value="Tìm kiếm" class="searchsubmit">
                                        <i class="pe-7s-search"></i>
                                    </button>
                                    <input type="hidden" name="type" value="article">
                                </form>
                            </div>
                            <div class="widget widget_categories">
                                {% set rmenu = Menu ('our-service') %}
                                <h5 class="wg-title">{{rmenu.title}}</h5>
                                <ul>
                                    {% for item in rmenu.children %}
                                        <li>
                                            <a href="{{item.link}}">{{item.title}}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Post Content -->
        {% include 'snippet/company.twig' %}
    </div>
{% endblock content %}