{% extends "layout.twig" %}
{% block pre_include %}
    <title>{{page.title}}</title>
{% endblock pre_include %}
{% block post_include %}{% endblock post_include %}
{% block content %}
    <div
        id="main">
        <!-- Section banner -->
        <div class="section section-bg-10 section-fixed pt-14 pb-3" style="background-image: url({{page.image|upload_url}});">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <h2 class="page-title">{{page.title}}</h2>
                            <div class="page-title-subtext extra-font">{{page.description}}</div>
                            <div class="breadcrumb">
                                <ul class="breadcrumbs">
                                    <li>
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li>{{page.title}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->

        <!-- Section 1 -->
        <div class="section pt-10 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-5 col-md-5">
                        <div class="mb-4">
                            <h3 class="heading wg-title">{{CustomField (page.id, "page", "tieu-de")}}</h3>
                            <h2 class="sub-heading">
                                {{CustomField (page.id, "page", "mo-ta")|raw}}
                            </h2>
                        </div>
                        <div class="text-box-editor">
                            {{page.content|raw}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 col-md-7">
                        <img src="{{CustomField (page.id, "page", "hinh-phai") | upload_url}}" alt="about3"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section 1 -->

        <!-- Section 2 -->
        <div class="section section-bg-6 bg-gray pt-8 pb-12" style="background-image:url({{settings.about_image|upload_url}});">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-6">
                            <h3 class="heading wg-title white">{{settings.about_title}}</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-6">
                            <h2 class="sub-heading text-right">
                                {{settings.about_descript|raw}}
                            </h2>
                        </div>
                    </div>
                </div>

                {% set value = Blog (settings.about_blog) %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="process-carousel" data-auto-play="true" data-desktop="3" data-laptop="3" data-mobile="1" data-tablet="2">

                            {% for item in value.articles|slice(length - 6,6) %}

                                <div class="process-item">
                                    <span class="item-number extra-font">0{{loop.index}}</span>
                                    <div class="content-wrap">
                                        <div class="entry-header">
                                            <h3 class="entry-title extra-font">
                                                <a href="{{item.url}}">{{item.title}}</a>
                                            </h3>
                                        </div>
                                        <div class="entry-content">
                                            {{item.description|truncate(130)}}
                                        </div>
                                        <div class="entry-footer text-right">
                                            <a class="readmore" href="{{item.url}}">Xem thêm &#10230;</a>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ./Section 2 -->

        <!-- Section 3 -->
        <div class="section pt-10 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-6">
                            <h3 class="heading wg-title">{{settings.about_title1}}</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-6">
                            <h2 class="sub-heading text-right">
                                {{settings.about_descript1|raw}}
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {% set items = Blog (settings.about_blog1) %}
                    {% for item in items.articles|slice(length - 6,6) %}

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="portfolio-grid-item overlay-wrap">
                                <div class="entry-media">
                                    <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
                                </div>
                                <div class="overlay left-right">
                                    <div class="overlay-inner">
                                        <div class="entry-header">
                                            <h3 class="entry-title">
                                                <a href="{{item.url}}">{{item.title}}</a>
                                            </h3>
                                            <ul class="entry-meta extra-font italic">
                                                <li>
                                                    <a href="{{item.url}}">{{item.description}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="entry-footer text-right">
                                        <a class="entry-readmore" href="{{item.url}}">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- ./Section 3 -->

        {% include 'snippet/contact-us.twig' %}

        {% include 'snippet/company.twig' %}
    </div>
{% endblock %}
