{# {% extends "layout.twig" %} #}
{% block pre_include %}
    <title>{{page.title}}</title>
{% endblock pre_include %}
{% block post_include %}

    <script src="https://stg.woay.vn/api.wheel/f7634cd0-3ecf-4580-855a-a6625cd03373/setting?format=js"></script>
    <script src="https://stg.woay.vn/lib/js/woay.js"></script>
    <script>
        $ = jQuery;
        $$woay = Woay('woay', Object.assign({}, WHEEL_SETTINGS, {imgSrc: WHEEL_SETTINGS.image.origin}));

        $('.btn-woay').click(function () {
            $$woay.emit('start');
        });

        $$woay.on('reward', function (number, data) {
            var reward = data.reward;
            if (reward.sku == 'BADLUCK') {
                alert('Chúc bạn may mắn lần sau');
            } else {
                alert('Chúc mừng bạn đã trúng ' + reward.name);
            }
        });
    </script>

{% endblock post_include %}
{% block content %}
    <div id="xxxmain">
        <canvas height="800" id="woay" width="800"></canvas>
        <button class="btn-woay">Quay</button>
    </div>
{% endblock %}
