{% extends "layout.twig" %}

{% block pre_include %}
    <title>{{product.title}}</title>
    <link rel="stylesheet" href="{{theme.uri}}/css/lightslider.min.css">
{% endblock pre_include %}

{% block post_include %}
    <script type="text/javascript" src="{{theme.uri}}/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/core.min.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/widget.min.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/mouse.min.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/slider.min.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/jquery.ui.touch-punch.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/price-slider.js"></script>
    <script type="text/javascript" src="{{theme.uri}}/js/lightslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#vertical-product-slider').lightSlider({
                gallery: true,
                item: 1,
                vertical: true,
                verticalHeight: 400,
                vThumbWidth: 50,
                thumbItem: 6,
                thumbMargin: 4,
                slideMargin: 0
            });
        });
    </script>
{% endblock post_include %}

{% block content %}
    {% set collections = Collection() %}
    <div id="main">
        <!-- Section banner -->
        <div class="section section-bg-2 section-fixed pt-6 pb-3">
            <div class="bg-overlay-dark"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <h2 class="page-title">{{product.title}}</h2>
                        <div class="breadcrumb mt-1 pl-0">
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="/{{__('ALL_PRODUCTS_URL')}}">Sản phẩm</a>
                                </li>
                                {% set collection_handle = product.collections | first %}
                                {% set collection = Collection(collection_handle.handle) %}
                                {% if collection.parent_id > -1 %}
                                    {% set parent_collection = getCollectionById(collection.parent_id) %}
                                    <li>
                                        <a href="{{parent_collection.url}}">{{parent_collection.title}}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{collection.url}}">{{collection.title}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section banner -->

        <!-- Product Content -->
        <div class="product-content section pt-10 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-md-push-3 col-lg-push-3">
                        <div class="single-product">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                    <ul id="vertical-product-slider" class="vertical-product-slider">
                                        {% for item in product.images %}
                                            <li data-thumb="{{item.name|upload_url}}">
                                                <img src="{{item.name|upload_url}}"/>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {# <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="images">
                                        <a href="{{product.image|upload_url}}" class="prettyphoto" data-rel="prettyPhoto">
                                            <img src="{{product.image|upload_url}}" alt="{{product.title}}"/>
                                        </a>
                                        {% if product.price_compare > product.price %}
                                            <span class="onsale">{{((1 - product.price/product.price_compare)*100)|round}}% OFF</span>
                                        {% endif %}
                                    </div>
                                </div> #}
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <div class="entry-summary">
                                        <h1 class="product_title">{{product.title}}</h1>
                                        <div class="price">
                                            {% if product.price_compare > product.price %}
                                                <del>{{product.price_compare|money('.')}}
                                                    VNĐ</del>
                                            {% endif %}
                                            <ins>{{product.price|money('.')}}
                                                VNĐ</ins>
                                        </div>
                                        <div class="description">
                                            {{product.description}}
                                        </div>
                                        <div class="cart-form">
                                            <form class="cart">
                                                <div class="quantity">
                                                    <input type="number" step="1" min="1" max="" name="quantity" value="1" class="input-text qty text" size="4">
                                                </div>
                                                <button type="submit" class="btn btn-alt btn-border btn-add-to-cart" data-id='{{product.variants[0].id}}'>Thêm vào giỏ hàng</button>
                                            </form>
                                        </div>
                                        <ul class="product_meta entry-meta">
                                            <li class="posted_in">
                                                <span class="meta-title">Danh mục:</span>
                                                <span class="extra-font italic">
                                                    {% for item in product.collections %}
                                                        <a href="{{item.url}}">{{item.title}}</a>
                                                        {% if loop.index != loop.last %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="commerce-tabs tabs mb-6">
                                        <ul class="nav nav-tabs tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab-description" aria-expanded="true">Thông tin chi tiết</a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="tab-description">
                                                {{product.content|raw}}
                                            </div>

                                        </div>
                                    </div>
                                    {% set collection_handle = product.collections[0].handle %}
                                    {% set collection = Collection(collection_handle) %}
                                    {% if collection.products | length > 1 %}
                                        <div class="related-products">
                                            <h2 class="wg-title">Sản phẩm tương tự</h2>
                                            <div class="product-grid">
                                                {% for item in collection.products | slice(0, 3)if item.id != product.id %}
                                                    <div class="product-item col-lg-4 col-md-4 col-xs-12">
                                                        <div class="overlay-wrap">
                                                            <div class="entry-media">
                                                                <div class="entry-thumbnail">
                                                                    <a href="{{item.url}}">
                                                                        <img src="{{item.image|upload_url}}" alt="item.title"/>
                                                                    </a>
                                                                </div>
                                                                <div class="overlay zoom-in">
                                                                    <div class="overlay-inner text-center">
                                                                        <a href="#" class="button add-to-cart btn-add-to-cart" data-id='{{item.variants[0].id}}'>Thêm vào giỏ hàng</a>
                                                                        <a href="{{item.url}}" class="product-readmore"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="entry-header">
                                                                <h3 class="entry-title">
                                                                    <a href="{{item.url}}">{{item.title}}</a>
                                                                </h3>
                                                            </div>
                                                            <div class="price">
                                                                {{item.price|money('.')}}
                                                                VNĐ
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9">
                        <div class="sidebar sidebar-area">
                            <div class="widget widget_categories">
                                <h5 class="wg-title">Danh mục</h5>
                                <ul class="slidebar-menu">
                                    {% for item in collections %}
                                        {% if item.parent_id == -1 %}
                                            <li class="m-parent">
                                                <a href="{{item.url}}">{{item.title}}
                                                </a>
                                                <span class="count">({{(item.id | getProductByCollection).products | length}})</span>
                                                <ul class="children">
                                                    {% set check = 0 %}
                                                    {% for i in collections %}
                                                        {% if i.parent_id == item.id %}
                                                            {% set check = 1 %}
                                                            <li>
                                                                <a href="{{i.url}}">{{i.title}}</a>
                                                                <span class="count">({{(i.id | getProductByCollection).products | length}})</span>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                                {% if check %}
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% set attributes = Attributes() %}
                            {% for item in attributes %}
                                <div class="widget widget_categories">
                                    <h5 class="wg-title">{{item.name}}</h5>
                                    <ul>
                                        {% for i in item.child %}
                                            <li>
                                                <a href="#" class="btn-attribute" name="{{item.handle}}" data-value="{{i}}">{{i}}
                                                    <span class="count">
                                                        (0)</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ./Product Content -->
        {% include 'snippet/company.twig' %}
    </div>
{% endblock content %}