{% extends "layout.twig" %}

{% block pre_include %}
  <title>Tìm kiếm {{ search.terms }}</title>

{% endblock pre_include %}

{% block post_include %}
  <script type="text/javascript" src="{{theme.uri}}/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/core.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/widget.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/mouse.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/slider.min.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/jquery.ui.touch-punch.js"></script>
  <script type="text/javascript" src="{{theme.uri}}/js/price-slider.js"></script>
{% endblock post_include %}

{% block content %}
  {% set collections = Collection() %}
  <div id="main">
    <!-- Section banner -->
    <div class="section section-bg-2 section-fixed pt-6 pb-3">
      <div class="bg-overlay-dark"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h2 class="page-title">Tìm kiếm cho "{{search.terms}}"</h2>
            <div class="breadcrumb mt-1 pl-0">
              <ul class="breadcrumbs">
                <li>
                  <a href="/">Trang chủ</a>
                </li>
                <li>Tìm kiếm</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Section banner -->

    <!-- Product Content -->
    <div class="product-content section pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-lg-9 col-md-push-3 col-lg-push-3 product-list">
            {% if search.data|length %}
              <div class="product-grid row product-list">
                {% for item in search.data %}
                  <div class="product-item mb-5 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    {% if item.price_compare > item.price %}
                      <span class="onsale">{{((1 - item.price/item.price_compare)*100)|round}}% OFF</span>
                    {% endif %}
                    <div class="overlay-wrap">
                      <div class="entry-media">
                        <div class="entry-thumbnail">
                          <a href="{{item.url}}">
                            <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
                          </a>
                        </div>
                        <div class="overlay zoom-in">
                          <div class="overlay-inner text-center">
                            <a href="#" class="button add-to-cart btn-add-to-cart" data-id={{item.variants[0].id}}>Thêm vào giỏ hàng</a>
                            <a href="{{item.url}}" class="product-readmore"></a>
                          </div>
                        </div>
                      </div>
                      <div class="entry-header text-center">
                        <h3 class="entry-title">
                          <a href="{{item.url}}">{{item.title}}</a>
                        </h3>
                      </div>
                      <div class="price text-center">
                        {% if item.price_compare > item.price %}
                          <span>{{item.price|money}} ₫</span>
                          <del>{{item.price_compare|money}} ₫</del>
                        {% else %}
                          {{item.price|money}} ₫
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="box-search-null">
                <h1 class="entry-title pb-3">Không có kết quả tìm kiếm cho "{{search.terms}}"</h1>
                <section class="how-to-search">
                  <!-- Editer -->
                  {{settings['search_no_result']|raw}}
                  <!-- ./Editer -->
                </section>
                <div class="p-t20">
                  <a onclick="window.history.back();" class="btn btn-alt btn-border">Quay lại</a>
                </div>
              </div>
            {% endif %}
          </div>
          {% include 'snippet/filter-sidebar.twig' %}
        </div>
      </div>
    </div>
    <!-- ./Product Content -->
    {% include 'snippet/company.twig' %}
  </div>
{% endblock content %}
