{% extends "layout.twig" %}

{% block pre_include %}
    <title>Đặt hàng thành công</title>
{% endblock pre_include %}

{% block content %}
    <div id="main">
        <!-- Thank Content -->
        <div class="container">
            <div class="thanks-container">
                <h1 class="title">Cảm ơn!</h1>
                <div class="img-box">
                    <img src="{{theme.uri}}/images/mail_icon.jpg" alt="thanks">
                </div>
                <div class="desc">
                    <p>Cảm ơn Quý khách đã đặt hàng.</p>
                    <p>Chúng tôi sẽ liên hệ lại trong thời gian sớm nhất để xác nhận đơn hàng.</p>
                </div>
                <a class="btn" href="/">Quay lại trang chủ</a>

            </div>
        </div>
        <!-- ./Thank Content -->

    </div>
{% endblock content %}