<!-- Section brand -->
<div class="section pt-6 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-carousel" data-auto-play="true" data-desktop="5" data-laptop="3" data-tablet="2" data-mobile="1">
                    {% set company = Gallery(settings.home_slideth) %}
                    {% for item in company.photos %}

                        <div class="client-item">
                            <a href="{{item.link}}" target="_blank" class="box-img">
                                <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
                            </a>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Section brand -->
