<!-- Section 4 -->
        <div class="section bg-light">
            <div class="container">
                <div class="row">
                    <div class="full-left has-overlay p-0 col-sm-5 hidden-sm hidden-xs">
                        <div class="fullwidth section-bg-11 section-cover"
                         style="background-image: url({{settings.cont_image|upload_url}});">
                            <div class="social-wrap white vertical mt-15">
                                <div class="title">Theo dõi chúng tôi</div>
                                <div class="social">
                                    <a href="{{settings.cont_twitter}}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="{{settings.cont_linkedin}}">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="{{settings.cont_google}}">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="{{settings.cont_facebook}}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-offset-5 col-lg-7 col-md-offset-5 col-md-7 pt-9 pb-9">
                        <div class="mb-4">
                            <h3 class="heading wg-title">{{settings.cont_title}}</h3>
                            <h2 class="sub-heading">
                                {{settings.cont_descript|raw}}
                            </h2>
                        </div>
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" id="name" placeholder="Họ và tên*"/>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" id="company" placeholder="Công ty*"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" id="email" placeholder="Email*"/>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" id="phone" placeholder="Số điện thoại*"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <textarea id="content" cols="40" rows="8" placeholder="Nội dung*"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="submit" class="btn btn-white"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Section 4 -->
