<div class="col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9">
  <div class="sidebar sidebar-area">
    <div class="widget">
      <h5 class="wg-title">Lọc theo giá</h5>
      <div class="widget_price_filter">
        <div class="price_slider_wrapper">
          <div class="price_slider" style="display:none;"></div>
          <div class="price_slider_amount">
            <input type="number" name="collection_id" value="{{collection.id}}" class="hidden">
            <input type="text" id="min_price" name="min_price" value="" data-min="0" placeholder="Min price"/>
            <input type="text" id="max_price" name="max_price" value="" data-max="2000000" placeholder="Max price"/>
            <button type="submit" class="button btn-submit-price">Lọc</button>
            <div class="price_label" style="display:none;">
              Giá:
              <span class="from"></span>
              &mdash;
              <span class="to"></span>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget widget_categories">
      <h5 class="wg-title">Danh mục</h5>
      <ul class="slidebar-menu">
        {% for item in collections %}
          {% if item.parent_id == -1 %}
            <li class="m-parent">
              <a href="{{item.url}}">{{item.title}}
              </a>
              <span class="count">({{(item.id | getProductByCollection).products | length}})</span>
              <ul class="children">
                {% set check = 0 %}
                {% for i in collections %}
                  {% if i.parent_id == item.id %}
                    {% set check = 1 %}
                    <li>
                      <a href="{{i.url}}">{{i.title}}</a>
                      <span class="count">({{(i.id | getProductByCollection).products | length}})</span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% if check %}
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% set attributes = Attributes() %}
    {% for item in attributes %}
      <div class="widget widget_categories">
        <h5 class="wg-title">{{item.name}}</h5>
        <ul>
          {% for i in item.child %}
            <li>
              <a href="#" class="btn-attribute" name="{{item.handle}}" data-value="{{i}}">{{i}}<span class="count"> (0)</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

  </div>
</div>
