<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                {% if settings.footer_title %}

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-1">
                        <div class="widget">
                            <h6 class="wg-title">{{settings.footer_title}}</h6>
                        </div>
                        <div class="logo-footer">
                            <a href="/">
                                <img alt="{{settings.footer_image}}" src="{{settings.footer_image|upload_url}}"/>
                            </a>
                        </div>
                        <div class="widget mt-2">
                            <div>
                                {{settings.footer_descript}}
                            </div>
                        </div>

                    </div>
                {% endif %}
                {% if settings.footer_title1 %}

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-2 ">
                        <div class="widget">
                            <h6 class="wg-title">{{settings.footer_title1}}</h6>
                            <ul class="prod-footer">
                                {% for item in settings.footer_product %}
                                    {% set product = Product(item.handle) %}
                                    <li>
                                        <a href="{{product.url}}">{{product.title}}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if settings.footer_title2 %}

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-3">
                        <div class="widget">
                            <h6 class="wg-title">{{settings.footer_title2}}</h6>
                            <ul class="contact-info">
                                <li>{{settings.footer_address}}</li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>{{settings.footer_email}}</li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {{settings.footer_phone}}</li>
                                <li>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="{{settings.footer_linkweb}}">{{settings.footer_web}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if settings.footer_title3 %}

                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-3">
                        <div class="widget social-link-icons">
                            <h6 class="wg-title">{{settings.footer_title3}}</h6>
                            <div class="ft-social-icons">
                                <ul>
                                    {% if settings.facebook %}

                                        <li>
                                            <a href="{{settings.facebook}}" target="_blank">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.twitter %}
                                        <li>
                                            <a href="{{settings.twitter}}" target="_blank">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.google %}
                                        <li>
                                            <a href="{{settings.google}}" target="_blank">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.pinterest %}
                                        <li>
                                            <a href="{{settings.pinterest}}" target="_blank">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.linkedin %}
                                        <li>
                                            <a href="{{settings.linkedin}}" target="_blank">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if settings.youtube %}
                                        <li>
                                            <a href="{{settings.youtube}}" target="_blank">
                                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        © Copyright {{settings.copyright}}. Design by <a href="javascript:;">Flexbox</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>