<header id="header" class="header header-default header-not-mobile-default">
    <div class="no-container clearfix">
        <div id="header-logo" class="pull-left">
            <h1>
                <a href="/" class="box-img">
                    <img class="main-logo" alt="" src="{{settings.home_logo|upload_url}}"/>
                </a>
            </h1>
        </div>
        <div class="nav-extra pull-right">
            <div class="header-popup clearfix">
                <div class="nav-extra-icon">
                    <a href="javascript:void(0)" class="header-icon" data-display=".mini-cart" data-no-display=".mini-search, .mini-tools">
                        <i class="pe-7s-shopbag">
                            <span class="cart_total">{{cart.total_items}}</span>
                        </i>
                    </a>
                    <a href="javascript:void(0)" class="header-icon" data-display=".mini-search" data-no-display=".mini-tools, .mini-cart">
                        <i class="pe-7s-search"></i>
                    </a>
                    <a href="javascript:void(0)" class="header-icon" data-display=".mini-account" data-no-display=".mini-search, .mini-cart">
                        <i>
                            <img class="icon-user" src="{{theme.uri}}/images/icons/user.png" alt="">
                        </i>
                    </a>
                    <a href="javascript:void(0)" id="menu-mobile" class="header-icon menu-mobile">
                        <i class="pe-7s-menu" title="Open Menu"></i>
                    </a>
                </div>

                <div class="popup mini-cart mousewheel">
                    <div class="mousewheel-inner">
                        <div class="widget_shopping_cart_content">
                            {% if cart.items %}
                                <ul class="cart_list product_list_widget">
                                    {% for item in cart.items %}
                                        <li class="mini_cart_item">
                                            <a href="#" class="remove" name="remove-item" data-id="{{item.variant_id}}">&times;</a>
                                            <a href="{{item.url}}" class="product-image">
                                                <img src="{{item.image|upload_url}}" alt=""/>
                                            </a>
                                            <div class="content">
                                                <a href="{{item.url}}" class="product-title">
                                                    {{item.product_title}}
                                                </a>
                                                <span class="quantity">{{item.quantity}}
                                                    &times;
                                                    {{item.price | money}}
                                                    VNĐ</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="total mb-2">
                                    <strong>Tổng:</strong>
                                    {{cart.total | money}}
                                    VNĐ
                                </div>
                                <div class="buttons">
                                    <a href="{{__('CART_URL')}}" class="btn mb-1">Xem giỏ hàng</a>
                                    <a href="{{__('CHECKOUT_URL')}}" class="btn mb-1">Thanh toán</a>
                                </div>
                            {% else %}
                                <ul class="cart_list product_list_widget">
                                    <li class="empty">Không có sản phẩm nào trong giỏ hàng.</li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="popup mini-search">
                    <form class="searchform searchform-header" value="product">
                        <input type="text" name="q" placeholder="Tìm kiếm...">
                        <button type="submit" value="Search" class="searchsubmit">
                            <i class="pe-7s-search"></i>
                        </button>
                    </form>
                </div>

                <div class="popup mini-account">
                    <ul>
                        {% if customer.logged_in %}
                            <li>
                                <a href="{{__('CUSTOMER_URL')}}">Quản lý tài khoản</a>
                            </li>
                            <li>
                                <a href="{{__('CUSTOMER_ORDERS_URL')}}">Quản lý đơn hàng</a>
                            </li>
                            <li>
                                <a href="/api/signout">Đăng xuất</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{__('REGISTER_URL')}}">Đăng ký</a>
                            </li>
                            <li>
                                <a href="{{__('LOGIN_URL')}}">Đăng nhập</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% set menu = Menu('header') %}
        <nav class="navigation pull-right">
            <a class="mobile-close">
                <i class="pe-7s-close-circle" title="Close Menu"></i>
            </a>
            <div class="main-navigation">
                <ul>
                    {% for item in menu.children %}
                        {% if item.link == "/"%}
                            {% set link = shop.host ~ item.link %}
                        {% else %}
                            {% set link = item.link %}
                        {% endif %}

                        {% set active = link == url ? "active" : "" %}
                        <li class="{{active}}">
                            <a href="{{item.link}}">{{item.title}}
                            </a>
                            {% if item.children %}
                                <ul class="sub-menu">
                                    {% for sub in item.children %}
                                        <li>
                                            <a href="{{sub.link}}">{{sub.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <span class="menu-toggle">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            {% endif %}
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </nav>
    </div>
</header>