<div class="section-3 section section-bg-dot pt-8">
    <div class="container">
        <div class="row">
            <div class="mb-4 text-center">
                <h2 class="sub-heading mb-2">
                    <span class="f1">
                        {{settings.home_titlesp}}</span>
                </h2>
                <p class="desc-title">
                    {{settings.home_descriptsp|raw}}
                </p>
            </div>
            <div class="text-center">
                <ul class="masonry-filter extra-font">
                    <li>
                        <a href="#" data-filter="" class="active">Hiển thị tất cả</a>
                    </li>

                    {% for item in settings.home_collectionsp %}
                        {% set collec = Collection(item.handle) %}
{% if collec.title %}
                        <li>
                            <a href="#" class='click1' data-filter=".{{collec.handle}}" id="{{collec.handle}}">{{collec.title}}</a>
                        </li>
{% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>