<div class="section-3 section pt-4 pb-7">
    <div class="container">
        <div class="row">
            <div class="portfolio-grid masonry-grid-post">
                {% for item in settings.home_collectionsp %}
                    {% set collec = Collection(item.handle) %}
                    {% for item1 in collec.products %}
                        <input type="hidden" name="variant_id" value="{{item1.id}}">
                        <div class="product-item masonry-item mb-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 {{collec.handle}}">
                            {% if item1.price_compare > item1.price %}
                                <span class="onsale">{{((1 - item1.price/item1.price_compare)*100)|round}}% OFF</span>
                            {% endif %}
                            <div class="overlay-wrap">
                                <div class="entry-media">
                                    <div class="entry-thumbnail">
                                        <a href="{{item1.url}}">
                                            <img src="{{item1.image|upload_url}}" alt="{{item1.title}}"/>
                                        </a>
                                    </div>
                                    <div class="overlay zoom-in">
                                        <div class="overlay-inner text-center">
                                            <a href="#" class="button add-to-cart btn-add-to-cart" data-id='{{item1.variants[0].id}}'>Thêm vào giỏ hàng</a>
                                            <a href="{{item1.url}}" class="product-readmore"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-header text-center">
                                    <h3 class="entry-title">
                                        <a href="{{item1.url}}">{{item1.title}}</a>
                                    </h3>
                                </div>
                                {% if item1.price_compare %}
                                    <div class="price text-center">
                                        <span>{{item1.price|money('.')}}
                                            ₫</span>
                                        <del>{{item1.price_compare|money('.')}}
                                            ₫</del>
                                    </div>
                                {% else %}
                                    <div class="price">
                                        {{item1.price |money('.')}}
                                        ₫
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="text-center">
                <a class="btn btn-alt btn-border xem-them" href="{{__('ALL_PRODUCTS_URL')}}">Xem thêm</a>
            </div>
        </div>
    </div>
</div>