<div class="section-2 section pt-12 pb-7 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-6">
                    <h3 class="heading wg-title">{{settings.home_titlebi}}</h3>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="slider-section owl-carousel owl-theme">
                {% set business = Blog(settings.home_blogbi) %}
                {% for item in business.articles %}
                    <div class="col-sm-12">
                        <div class="item blog-item bg-white mb-3">
                            <div class="entry-media">
                                <a href="{{item.url}}">
                                    <img src="{{item.image|upload_url}}" alt="{{item.title}}">
                                </a>
                            </div>
                            <div class="entry-content pb-4 pl-3 pr-3">
                                <div class="entry-header">
                                    <h5 class="entry-title">
                                        <a href="{{item.url}}">{{item.title}}</a>
                                    </h5>
                                </div>
                                <div class="content">
                                    {{item.description|truncate(110)}}
                                </div>
                                <div class="entry-footer text-right">
                                    <a class="readmore" href="{{item.url}}">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>