<div class="section-slider section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <ul class="home-slide" data-auto-play="true">
                    {% set slide = Gallery(settings.home_slider) %}
                    {% for item in slide.photos %}
                        <li class="slide__item" style="background-image: url({{item.image|upload_url|resize(2048)}})">
                            <div class="slide-caption">
                                <h2 class="slide-caption__title">{{item.description|raw}}</h2>
                                <a href="{{item.link}}" class="btn">Mua ngay</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>