<div class="section-1 section pt-11 pb-11">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-5">
                <div class="mb-4">
                    <h3 class="heading wg-title">{{settings.home_titlevct}}</h3>
                    <h2 class="sub-heading">
                        <span class="f1">{{settings.home_descriptvct}}</span>
                        <span class="f2">
                            {{settings.home_descriptvct1}}</span>
                    </h2>
                </div>
                <p class="text-intro">
                    {{settings.home_contentvct|raw}}
                </p>
                <div class="text-right mt-3">
                    <a class="btn btn-alt btn-border" href="{{settings.home_linkvct}}" target="_blank">
                        Xem thêm<i class="btn-icon typcn typcn-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-lg-offset-1">
                <div class="box-img img-about">
                    <img class="fullwidth mb-2" src="{{settings.home_imagel1|upload_url}}" alt="{{settings.home_titlevct}}"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-img img-about">
                    <img class="fullwidth mb-2" src="{{settings.home_imagel2|upload_url}}" alt="{{settings.home_titlevct}}"/>
                </div>
            </div>
        </div>
    </div>
</div>