<div class="section-4 section pt-12 pb-8 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-6">
                    <h3 class="heading wg-title">{{settings.home_titleht}}</h3>
                </div>
            </div>
            <div class="col-md-9">
                <div class="mb-6">
                    <h2 class="sub-heading text-right">
                        <span class="f2">{{settings.home_descriptht}}</span>
                        <span class="f1">
                            {{settings.home_descriptht1}}</span>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            {% set lstyle = Blog(settings.home_blogth) %}
            {% for item in lstyle.articles | slice(length - 2, 2 ) %}
                <div class="col-sm-6 col-xs-12">
                    <div class="blog-item bg-white mb-3">
                        <div class="entry-media">
                            <a href="{{lstyle.url}}">
                                <img src="{{item.image|upload_url}}" alt="{{item.title}}"/>
                            </a>
                            <span class="entry-categories">
                                <a href="{{lstyle.url}}">{{lstyle.title}}</a>
                            </span>
                        </div>
                        <div class="entry-content pl-0 pr-0 pb-4">
                            <div class="entry-header">
                                <h3 class="entry-title">
                                    <a href="{{item.url}}">{{item.title}}</a>
                                </h3>
                                <ul class="entry-meta">
                                    <li>
                                        <a href="#">{{item.created_at|date('d m Y')}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                {{item.description|truncate(220)}}
                            </div>
                            <div class="entry-footer">
                                <a class="readmore" href="{{item.url}}">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>