<div class="sidebar sidebar-area">
  <div class="widget">
    <h5 class="wg-title">Tìm kiếm</h5>
    <form class="searchform" action="/{{__('SEARCH_URL')}}">
      <input type="text" name="q" value="" placeholder="Tìm kiếm..."/>
      <input type="text" name="view" value="article" class="hidden"/>
      <button type="submit" value="Search" class="searchsubmit">
        <i class="pe-7s-search"></i>
      </button>
      <input type="hidden" name="type" value="article">
    </form>
  </div>
  <div class="widget widget_categories">

    <h5 class="wg-title">Danh Mục</h5>
    <ul>
      {% for item in Blog() %}
        {% if item.parent_id == -1 %}
          <li>
            <a href="{{item.url}}">{{item.title}}</a>
            <span class="count">({{ Blog(item.handle).articles| length}})</span>
            <ul class="children">
              {% for i in Blog() %}
                {% if i.parent_id == item.id %}
                  <li>
                    <a href="{{i.url}}">{{i.title}}</a>
                    <span class="count">({{ Blog(i.handle).articles| length}})</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="widget widget_recent_post">
    <h5 class="wg-title">Bài viết mới</h5>
    <div class="recent-post">
      {% for item2 in Blog('all').articles | slice(length / 2, 3) %}
        <div class="recent-item">
          <div class="entry-media pull-left">
            <img src="{{item2.image|upload_url}}" alt="{{item2.title}}"/>
          </div>
          <div class="item-content">
            <h6 class="entry-title">
              <a href="{{item2.url}}">{{item2.title}}</a>
            </h6>
            <ul class="entry-meta extra-font italic">
              <li>
                <a href="{{item2.url}}">{{item2.created_at|date('d/m/Y')}}</a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="widget widget_tags">
    <h5 class="wg-title">Tags</h5>
    <div class="tagcloud">
      {% if article|length %}
        {% for item3 in article.tags %}
          <a href="/tim-kiem?type=article&tag={{item3}}&view=article">{{item3}}</a>
        {% endfor %}
      {% else %}
        {% for item3 in search.tags %}
          <a href="/tim-kiem?type=article&tag={{item3}}&view=article">{{item3}}</a>
        {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
