{% verbatim %}
<script id="item-image" type="text/x-tmpl">
  <div class="image col-xs-2" data-name={%=o.name%}>
    <img src={%=o.src%}/>
    <span class="rotate">
      <i class="fa fa-undo"></i>
    </span>
    <span class="remove">
      <i class="fa fa-times"></i>
    </span>
  </div>
</script>
{% endverbatim %} {% verbatim %}
  <script id="item-cart" type="text/x-tmpl">
    <li class="mini_cart_item">
      <a href="#" class="remove" name="remove-item" data-id={%=o.variant_id%}>&times;</a>
      <a href="{%=o.url%}" class="product-image">
          <img src="/uploads/{%=o.image%}" alt=""/>
        </a>
      <div class="content">
        <a href="{%=o.url%}" class="product-title">
            {%=o.title%}
          </a>
        <span class="quantity">{%=o.quantity%}
            &times;
            {%=money(o.price)%}
            VNĐ</span>
      </div>
    </li>
  </script>
{% endverbatim %} {% verbatim %}
  <script id="cart-header" type="text/x-tmpl">
    <ul class="cart_list product_list_widget">
      {%#o.listItem%}
    </ul>
    <div class="total mb-2">
      <strong>Tổng:</strong> {%=money(o.total)%} VNĐ
    </div>
    <div class="buttons">
      <a href="/gio-hang" class="btn mb-1">Giỏ hàng</a>
      <a href="/dat-hang" class="btn mb-1">Thanh toán</a>
    </div>
  </script>
{% endverbatim %}
