{% extends "layout.twig" %}

{% block pre_include %}
  <title>
    Tạo tài khoản
  </title>
{% endblock pre_include %}
{% block content %}

  <!-- Content Sub Page -->
  <section class="register-page order-step order-step1 p-t70" id="order-step1">

    <div class="order-step1__content">
      <div class="container">
        <div class="order-step1-wrap">
          <div class="order-step1--title">
            <div class="row">
              <div class="col-sm-6 textleft">
                <h3 class="title-default">Đăng ký</h3>
              </div>
              <div class="col-sm-6 text-right">
                <p>
                  Bạn đã là thành viên?<a href="{{__('LOGIN_URL')}}">&nbsp;Đăng nhập</a>&nbsp;tại đây</p>
              </div>
            </div>
          </div>
          <div class="order-step1--content">
            <div class="order-step1--content__box">
              <div class="row">
                <div class="col-sm-7">
                  <div class="input">
                    <label>Họ tên</label>
                    <input type="text" name="name" placeholder="Họ tên">
                  </div>
                  <div class="input">
                    <label>Giới tính</label>
                    <div class="radio">
                      <label><input type="radio" name="gender" checked value="Nam">Nam</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="gender" value="Nữ">Nữ</label>
                    </div>
                  </div>
                  <div class="input">
                    <label>Email*</label>
                    <input type="text" name="email" placeholder="Vui lòng nhập Email của bạn">
                  </div>
                  <div class="input">
                    <label>Mật khẩu*</label>
                    <input type="password" name="password" placeholder="Vui lòng nhập mật khẩu ">
                  </div>
                  <div class="input">
                    <label>Nhập lại mật khẩu*</label>
                    <input type="password" name="passwordconfirm" placeholder="Vui lòng nhập lại mật khẩu">
                  </div>
                  <div class="register">
                    <button class="btn-custom-default" href="#">
                      <span>Đăng ký</span></button>
                  </div>
                  <p>
                    Tôi đồng ý với
                    <a href="{{settings['link_policy'] ?: '#'}}">&nbsp;Chính sách bảo mật của website</a>
                  </p>
                </div>
                <div class="col-sm-5">
                  <p>Hoặc đăng ký bằng tài khoản mạng xã hội</p>
                  <div class="step1-social">
                    <a class="facebook" href="{{loginFacebook()}}">
                      <i class="fa fa-facebook-f"></i>
                      Facebook</a>
                      <a class="google" href="{{loginGoogle()}}">
                        <i class="fa fa-google-plus"></i>
                        Google
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Content Sub Page -->


{% endblock content %}
{% block post_include %}
<script type="text/javascript">
  $('.register').on('click', function(e) {
    e.preventDefault();
    var data = {};
    data.name = $('input[name="name"]').val();
    data.email = $('input[name="email"]').val();
    data.gender = $('input[name=gender]:checked').val();
    data.password = $('input[name="password"]').val();
    data.passwordconfirm = $('input[name="passwordconfirm"]').val();
    if (!data.name) {
      toastr.error("Chưa nhập họ tên!");
      return;
    }
    if (!data.email) {
      toastr.remove();
      toastr.error("Vui lòng nhập email!");
      return;
    }
    if (!data.email.match("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")) {
      toastr.remove();
      toastr.error("Email không đúng định dạng, vui lòng nhập lại email!");
      return;
    }

    if (!data.password) {
      toastr.remove();
      toastr.error("Bạn chưa nhập mật khẩu!");
      return;
    }
    if (!data.password.match(/^.*(?=.{6,})(?=.*[a-zA-Z])[a-zA-Z0-9]+$/)) {
      toastr.remove();
      toastr.error("Mật khẩu bao gồm chữ số và kí tự!");
      return;
    }
    if (data.password !== data.passwordconfirm) {
      toastr.remove();
      toastr.error("Nhập lại mật khẩu không chính xác!");
      return;
    }
    $.ajax({
      type: 'POST',
      url: '/api/signup',
      data: data,
      success: function(json) {
        if (!json.code) {
          toastr.success("Tạo tài khoản thành công!");
          // set_time_limit(2000);
          setTimeout(function() {
            window.location.href = "{{__('LOGIN_URL')}}";
          }, 1500);
        } else {
          toastr.remove();
          toastr.error("Email đã được đăng ký!");
        }
      }
    });
  });

  function checkFunc() {
    var checkBox = document.getElementById("checked");
    if (checkBox.checked == false) {
      toastr.remove();
      toastr.error("Vui lòng chấp nhận chính sách!");
    }
  }
</script>
{% endblock %}
